# Build / scratch outputs
dev/artifacts/
build/
logs/
projects-test/

# Artifacts
*.ll
*.bc
*.spv
*.spvasm
*.o
*.obj

# Python
__pycache__/
*.pyc

# Debug/Logs
*.log
*.txt
!readme.md
!whitepaper.md
!roadmap.md
!requirements.txt